@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&display=swap');

#titulogo{
    text-align: center;

}
#encabezado {
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    display : flex;
    justify-content: space-around;
    background-color: rgb(197, 7, 7);
    overflow: hidden;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color:black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: black;
    color:white;
  }

  #inf-general{
    margin-top: 50px;
    text-align: center;
  }

  #info-general{
    width: 500px;
    height: 500px;
    justify-content: center;
  }